.ChatForm{
    width: 80%;
    margin: auto;
    display: block;
}
.ChatForm textarea {
    width: 400px;
    margin: 10px;
}
.ChatForm input{
    margin: 10px;
}
.ChatForm button {
    margin: 30px;
    padding: 10px;
}